/*
page looks roughly like this

+--div#container---------------------------------------+
|                  h1>TR3200 CPU</h1>                  |
| +----div#input-area------++---div#rom-controls-----+ |
| |                        ||                        | |
| |                        ||                        | |
| |                        ||                        | |
| |                        ||                        | |
| +------------------------++------------------------+ |
| +-div#register-container-++--div#memory-container--+ |
| |                        ||                        | |
| |                        ||                        | |
| |                        ||                        | |
| |                        ||                        | |
| |                        ||                        | |
| |                        ||                        | |
| |                        ||                        | |
| |                        ||                        | |
| +------------------------++------------------------+ |
+------------------------------------------------------+

*/

* {
  background-color: #080;
  color: #8f8;
  font-family: "Trebuchet MS";
  font-size: 12px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0 auto;
}

div#container {
  margin: 0 auto;
}

div#input-area, div#rom-controls, div#register-container, div#memory-container {
  width: 320px;
  min-width: 320px;
  max-width: 320px;
  display: inline-block;
  vertical-align: top;
  margin: 2px;
}
div#input-area, div#register-container { /* remove this */
  clear: right;
}
div#rom-controls {
  text-align: left;
}

h1 {
  font-size: 48px;
  font-style: italic;
}

textarea, select, input {
  background-color: #dfd;
  color: #080;
  border: 1px solid #2f2;
  border-radius: 2px;
  text-align: left;
  padding: 0 2px;
}

textarea#input {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 70px;
  min-height: 70px;
  font-family: "Courier New";
  font-size: 11px;
}

input[type="button"] {
  margin: 2px;
}
input[type="button"]:focus {
  outline: 0;
}
input[type="button"]:active {
  border-style: inset;
}

table {
  border-collapse: collapse;
  font-size: 16px;
  width: 320px;
  margin: 0;
}
td, th {
  border: 1px solid #2f2;
  padding: 0;
  padding-right: 2px;
  height: 24px;
  font-size: 14px;
  text-align: right;
}
td:not(.set), th:not(.set) { /* annoying/helpful transition */
  transition: background-color 0.5s linear; 
  background-color: #080;
}
td.set, th.set { /* set the transition; it only goes one way */
  transition-duration: 0s;
  background-color: #0c0;
}
tr:last-child th {
  border-bottom-width: 2px;
}
td:nth-child(even), th:nth-child(even), th#currentInstructionText, table#memoryView td {
  font-family: "Courier New";
  color: #fff;
}
table#memoryView {
  table-layout: fixed;
}
tbody.memoryButtonContainer td {
  padding-right: 0;
}
input[type="button"].memoryButton { /* TODO make these images or something */
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 1px outset #0c0;
  border-radius: 0px;
  background-color: #0c0;
}
input[type="button"].memoryButton:active {
  border-style: inset;
}

canvas {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
}