body {
  text-align: center;
  background-color: #080;
  color: #8f8;
  box-sizing: border-box;
}

div {
  display: inline-block;
}

div#control-container {
  float: left;
}

div#memory-container {
  float: left;
}

div#rom-controls {
  text-align: left;
}

canvas {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
}

textarea {
  width: 320px; /* 640 px */
  max-width: 640px;
  height: 100px;
  float: left;
}

input[type="button"] {
  border: none;
  font-family: "Trebuchet MS";
}

input[type="button"]:focus {
  outline: 0;
}

textarea, select, input[type="button"] {
  background-color: #dfd;
}

table {
  border-collapse: collapse;
  font-family: "Trebuchet MS";
  font-size: 16px;
  margin-left: auto; /* magic centering code */
  margin-right: auto; /* http://www.granneman.com/webdev/coding/css/centertables/ */
  width: 0; /* force table to shrink */
}

td, th {
  border: 1px solid #2f2;
  padding: 2px;
  text-align: right;
}

th {
  border-bottom-width: 2px;
}

td span, th span {
  font-family: "Courier New";
  color: #fff;
}

table#memory {
  position: relative;
  top: 0;
  bottom: 0;
  border: 1px solid #2f2;
  width: 50px;
  table-layout: fixed;
}

table#memory tbody tr {
  font-family: "Courier New";
  color: #fff;
  height: 1em;
  padding: 2px;
}

.memoryButton {
  width: 50px;
  height: 50px;
  margin: 8px;
}